{% extends "sub-layout.njk" %}

{% block title %}
CDEWorld Redesign | Design, Development &amp; Consulting - VPDesigns
{% endblock %}

{%- set activePage = "work" -%}
{%- set colorScheme = "light" -%}

{% block jumbotron %}
<section class="jumbotron">
	<div class="container">
        <h2 class="jumbotron-title atiza--bold">CDEWorld Website Redesign</h2>
        <p class="jumbotron-subtitle">Redesigning the website to improve the user-experience: update the look and feel and streamline the layout and moving through the site.</p>
        <p class="jumbotron-tag">UX/UI, Web Design, Web Development</p>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<div class="container">
        <div class="fullwidth-image topimage">
            <img src="http://toripugh.com/images/gallery/cdew/Macbook-Article-1.png" alt="CDEWorld Finished site layout in a Macbook">
        </div>
        <div class="section-inner">
            <h2 class="heading">Background</h2>
            <p>CDEWorld, one of the fastest growing online continuing dental education sites and a global leader in dental e-knowledge transfer. Their mission: to be the site of choice for oral healthcare professionals worldwide to source and complete their continuing professional development needs.</p>
            <h2 class="heading">The Brief</h2>
            <p>They were looking to improve performance of their website, investigate improvement that could be made for the user experience and getting the site to better convey their company values.</p>
            <p>CDEWorld needed an improved digital foundation to facilitate the increase in mobile and tablet traffic. With this improvement they also wanted to identify user experience improvements, develop a site that better conveyed their company values, and have an audit of their development practices and assets.</p>
            <h2 class="heading">Approach</h2>
            <p>An audit and refractor/recode of their website's code would help to improve the performance of the site and take advantage of responsive design the site is currently lacking consistently. A better integration of their values would be deeply intwined with solutions to make a more user-friendly approach.</p>
        </div>
        <div class="fullwidth-image">
            <img src="http://toripugh.com/images/gallery/cdew/sitemap-2.jpg" alt="Handrawn sitemap breakdown on pieces of paper">
            <img src="http://toripugh.com/images/gallery/cdew/sitemap-3.jpg" alt="Handrawn site layout ideas on pieces of paper">
            <p class="quote">Some quick ideas drawn on scraps of paper. A breakdown of the sitemap structure and the looks of those groups of pages.</h2>
        </div>
        <div class="section-inner">
            <h2 class="heading">Research</h2>
            <p>I needed to find out where the problems in the site were. I needed many questions answered — what pages were performing well or poorly, finding out what changes needed to be made, did the layout of the site need an overhaul, did any sections need to be added or removed, were users getting stuck on certain areas, etc.</p>
            <p>To answer some of these questions I used Ptengine and utilized their heat maps for 4 months to get a good median of data. Using heat maps to track customer movement on the website; their engagement with the pages and interface interactions; and their movement down the page.</p>
            <p><strong>Biggest take aways:</strong> The site was getting more mobile traffic than expected. There were aspects of the site that were confusing to people, people were clicking on unclickable objects. Any page with a list was using an infinite scroll and having a sharp drop in people scrolling. The screen resolutions that were recorded on the site were larger than the design was originally created.</p>
        </div>
        <div class="fullwidth-image">
            <img src="http://toripugh.com/images/gallery/cdew/Homepage-v2.jpg" alt="Various homepage mockups">
            <p class="quote">Various wireframe layouts for the homepage. Was looking for a good balance and quickly trying out different ideas.</h2>
        </div>
        <div class="section-inner">
            <h2 class="heading">Wireframes & Prototypes</h2>
            <p>Building with the data retrieved in the research phase I set to work making numerous layouts. I got inspiration and ideas from content heavy websites, similar to newspaper or news site. I needed a look capable of holding a lot of text but not exactly similar to <a class="text-link" href="https://www.nytimes.com/" target="_blank">New York Times</a>, <a class="text-link" href="https://www.reuters.com/" target="_blank">Reuters</a> or <a class="text-link" href="https://www.washingtonpost.com/" target="_blank">Washington Post</a>, which is basically a wall of text.</p>
            <h3 class="head">Prototypes</h3>
            <p>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v1/Grid-%20Redesign-2/Grid%20-%20Test2.html" target="_blank">Version 1</a>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v1/Grid-%20Redesign-3/Grid%20-%20Test3.html" target="_blank">Version 2</a>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v1/Grid-%20Redesign/Grid%20-%20Test.html" target="_blank">Version 3</a>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v1/Homepage.html" target="_blank">Version 4</a>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v1/hp2/" target="_blank">Version 5</a>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v1/hp3/" target="_blank">Version 6</a>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v1/hp4/" target="_blank">Version 7</a>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version1.html" target="_blank">Version 8</a>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version3.html" target="_blank">Version 9</a>
				<a class="text-link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version5-B.html" target="_blank">Version 10</a>
			</p>
            <h3 class="head">Finding the concentration points</h3>
            <p>I originally started on what I thought was the most important page, the homepage. After the heatmaps I realized that people weren't really spending as much time there and the real experience was on secondary pages of articles, webinars and events. From research these pages are the main objective of visitors to the site, I wanted to make sure the experience was smooth and enjoyable so areas of improvment were making the text legible, simplifing the visuals of the page, building it responsively and creating faster page loads.</p>
        </div>
        <div class="fullwidth-image">
            <img src="http://toripugh.com/images/gallery/cdew/article-org.jpg" alt="Original article page layout">
            <img src="http://toripugh.com/images/gallery/cdew/article-new.jpg" alt="Updated article page layout">
            <p class="quote"><strong>Top:</strong> Original layout and design. <strong>Bottom:</strong> Updated layout and design.</h2>
        </div>
        <div class="section-inner">
            <h3 class="head">Decisions behind the layout</h3>
            <p>Since the purpose of the secondary pages is read and scan over the information then take the quiz for certification. With this in mind I made a protoype that emphasized whatever the main content was, an article, ebook, event, or webinar. On each page a sidebar was included containing basic information, price, credits, etc and educational material such as learning objectives.</p>
            <h2 class="heading">Really Important Pages??</h2>
            <p>I started this project on what I thought was the most important page, the homepage. Looking back at the heat maps I realized that people weren't really spending as much time there and the real experience were on secondary pages such as the articles, webinars and events. These pages are the <strong>real objective</strong> of visitors to the site.</p>
            <p>I wanted to make the experience on these pages more user-friendly. The main objectives were making the text more legible, simplifying the experience, build with responsive in mind and speeding up page load.</p>
            <p>The purpose of these pages is to read or watch the information and then pass a test for certification. With this in mind I made a prototype that emphasized the main content, whether that is an article; ebook; event; or webinar, and includes a sidebar with the educational material or a sidebar like text area with the important information.</p>
            <p>
                <a class="text-link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version1.html" target="_blank">Article Page - Ver1</a>
                <a class="text-link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version5-B.html" target="_blank">Checkout - Ver2</a>
                <a class="text-link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version10.html">Webinar Page - Ver1</a>
                <a class="text-link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version6.html">Ebook Description - Ver1</a>
                <a class="text-link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version9.html">Event Page - Ver1</a>
                <a class="text-link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version11.html">Event Registration - Ver2</a>
            </p>
            <h3 class="heading">Discontinued Project</h3>
            <p>This project was discontinued before rolling out the actual finished projects. All I have is my research and various prototypes.</p>
        </div>
    </div>
</main>
{% endblock %}