{% extends "sub-layout.njk" %}

{% block title %}
TUSDM Emails | Design, Development &amp; Consulting - VPDesigns
{% endblock %}

{%- set activePage = "work" -%}
{%- set colorScheme = "light" -%}

{% block jumbotron %}
<section class="jumbotron">
	<div class="container">
        <h2 class="jumbotron-title atiza--bold">Tufts University of Dental Medicine Email Series</h2>
        <p class="jumbotron-subtitle">An email series that was designed and developed to coexist and compliment their existing branding, and be produced quickly and with minimal code changes.</p>
        <p class="jumbotron-tag">UX/UI, Email Design, Email Development</p>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<div class="container">
        <div class="fullwidth-image topimage">
            <img src="http://www.victoriapugh.net/images/gallery/newsletters/Tufts-Announcement-iMac.png" alt="Tufts Announcement Email on iMac">
        </div>
        <div class="section-inner">
            <h2 class="heading">The Brief</h2>
            <p>A new partner come on board for partner portals and I was tasked with creating emails that would advertise Tufts University School of Dental Medicine upcoming events. The main task would be to replicate the design and feel of Tufts while making it an easy email to develop in a short time.</p>
            <h2 class="heading">Execution</h2>
            <p>Keeping a united branding I incorporated the already strong branding from the Tufts University School of Dental Medicine website into the emails. I utilized my existing modular email system, this system I developed allowed for customizing visual elements and extending the Tufts brand but maintaining a core email structure. It made replication faster and easier to do on short notice.</p>
        </div>
        <div class="fullwidth-image topimage">
            <img src="http://www.victoriapugh.net/images/gallery/newsletters/tufts-announcement.jpg" alt="Tufts Upcoming Email">
            <img src="http://www.victoriapugh.net/images/gallery/newsletters/tufts-last-chance.jpg" alt="Tufts Last Chance Email">
            <img src="http://toripugh.com/images/gallery/tufts/time-is-running-out.jpg" alt="Tufts Time is Running Out Email">
        </div>
        <div class="section-inner">
            <p>&nbsp;</p>
        </div>
    </div>
</main>
{% endblock %}