{% extends "sub-layout.njk" %}

{% block title %}
UCD Email Series | Design, Development &amp; Consulting - VPDesigns
{% endblock %}

{%- set activePage = "work" -%}
{%- set colorScheme = "light" -%}

{% block jumbotron %}
<section class="jumbotron">
	<div class="container">
        <h2 class="jumbotron-title atiza--bold">Updates in Clinical Dentistry 2017 Email Series</h2>
        <p class="jumbotron-subtitle">Creation of an email system for ease of deployment and maximum recipient engagement.</p>
        <p class="jumbotron-tag">UX/UI, Email Design, Email Development</p>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<div class="container">
        <div class="fullwidth-image topimage">
            <img src="http://toripugh.com/images/gallery/ucd/UCD-emails-1@2x.jpg" alt="Finished layout in a macbook pro">
        </div>
        <div class="section-inner">
            <h2 class="heading">Background</h2>
            <p>CDEWorld, one of the fastest growing online continuing dental education sites and a global leader in dental e-knowledge transfer. Their mission: to be the site of choice for oral healthcare professionals worldwide to source and complete their continuing professional development needs.</p>
            <h2 class="heading">The Brief</h2>
            <p>The creation of an email system that could accomodate an event targeting multiple cities while also maintaining brand consistency; easily reproducable for other cities; and is quick to create and deploy.</p>
        </div>
    </div>
    <div class="fullwidth-image">
        <img src="http://toripugh.com/images/gallery/ucd/UCD-emails-2@2x.jpg" alt="Finished layout in a macbook pro">
        <h2 class="quote">Maintaining a consistent look and feel across all emails was sometimes challenging but necessary for brand identity.</h2>
    </div>
    <div class="container">
        <div class="section-inner">
            <h2 class="heading">The Approach</h2>
            <p>I need to get an idea of the scope of the email layouts and all the possible emails being sent. I took this information and broke the layout down into groups, National/Regional, Registrants, and Continuing Education. The three groups created email layout would be directed to Marketing, Registrants, and Follow-up.</p>

            <h2 class="head">Marketing Emails</h2>
            <p>The National/Regional group would be where the marketing driven emails are focused. The marketing group of emails are meant to entice and be informative, they have information on the emphasizing the location, talks and speakers. These emails though having similarities tend to look fairly different from each other, each one shares a basic layout of a large image and content below it. Some of them can contain a full agenda and speaker biographies or just topics and names.</p>

            <h2 class="head">Registrant Emails</h2>
            <p>The Registrants group is general emails sent to people who have already registered. These emails can be reminders of the upcoming event or alerts on a change of venue. These email are much simpler, usually pure text, in format from the need to pass crucial information.</p>

            <h2 class="head">Follow-up Emails</h2>
            <p>The follow-up CE reminders start a few days after the event the attendees will get these emails, reminding them about the courses they can take online and directing them to a page to find out how to redeem them. They will keep getting these emails until they have redeemed a course. These emails are very important and as such are more text heavy.</p>
        </div>
    </div>
    <div class="fullwidth-image">
        <img src="http://toripugh.com/images/gallery/ucd/UCD-emails-2@2x.jpg" alt="Finished layout in a macbook pro">
        <h2 class="quote">Maintaining a consistent look and feel across all emails was sometimes challenging but necessary for brand identity.</h2>
    </div>
    <div class="container">
        <div class="section-inner">
            <h2 class="head">Research</h2>
            <p>I started my research by subscribing to as many conference email lists as I could to see what other people were doing. I also found a great resource in <a class="text-link" href="http://reallygoodemails.com/" target="_blank">reallygoodemails.com</a> and took note of some of the features of the emails such as subheaders, titles, buttons, and images. With the combined knowledge of how other conferences handle their emails and general good and eye-catching design. I started piecing together ideas on the general layouts.</p>
            <h2 class="head">Wireframes & Prototypes</h2>
            <p>Using the information and patterns I obtained from my research I set off to start building numerous layouts. An emphasis was placed on the location of the events for the Regional group of emails, so the main image for these emails were of utmost importance. Then with more data available, speakers, dates, times, and hotel addresses I could better estimate the space being taken up and have more accurate prototypes.</p>
            <h2 class="head">Produced Emails</h2>
            <p>
                <a class="text-link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/02/MI-E2.html" target="_blank">MI - Email 2 (New Style Pre-System)</a>
                <a class="text-link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/03/MI-E4.html" target="_blank">MI - Email 4</a>
                <a class="text-link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/03/MI-E5.html" target="_blank">MI - Email 5</a>
                <a class="text-link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/03/MI-E6.html" target="_blank">MI - Email 6</a>
                <a class="text-link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/04/PA-E7.html" target="_blank">PA - Email 7</a>
            </p>
            <p>Examples of the email changes over the campaign</p>
            <p>
                <a href="http://aegispublications.com/news/cdeworld/2017/events/updates/02/MI-E3.html" class="text-link" target="_blank">1<sup>st</sup> E3 Version - Pre-System</a><br>
                <a href="http://aegispublications.com/news/cdeworld/2017/events/updates/03/MA-E3.html" class="text-link" target="_blank">2<sup>nd</sup> E3 Version - Post-System</a><br>
                <a href="http://aegispublications.com/news/cdeworld/2017/events/updates/05/CA-E3.html" class="text-link" target="_blank">3<sup>rd</sup> E3 Version - Post-System</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}