// .hide-desktop {
//     @include mq(desktop, min-width) {
//         display: none;
//     }
// }

.hide-desktop {
	@include mq(xxsmobile, max-width) {
		display: inherit;
	}
	// @include mq(tablet, max-width) {
	// 	display: inherit;
	// }
	@media (max-width: 768px) {
		display: inherit;
	}
	@media (min-width: 769px) {
		display: none !important;
		visibility: hidden;
	}
	@include mq(desktop, min-width) {
		display: none !important;
		visibility: hidden;
	}
}
.hide-mobile {
	@include mq(xxsmobile, max-width) {
		display: none !important;
		visibility: hidden;
	}
	@media (max-width: 768px) {
		display: none !important;
		visibility: hidden;
	}
	@include mq(tablet, min-width) {
		display: inherit;
	}
	@include mq(desktop, min-width) {
		display: inherit;
	}
}

.extraspace {

	padding: 8rem 0 6rem 0;

	@include mq(desktop, min-width) {
		padding: 12.5rem 0 6rem 0;
	}
}

.spacer {
	display: block;

	&-1 {
		padding: .5rem 0;
	}
}

.fullwidth-image {
	text-align: center;

	@include mq(desktop, min-width) {
		margin-bottom: 5rem;
	}
}