{% extends "layout.njk" %}

{% block title %}
VPDesigns | Design, Development &amp; Consulting
{% endblock %}

{% set colorScheme = "light" %}

{% block jumbotron %}
<section class="jumbotron">
	<div class="container">
			<h2 class="jumbotron-title atiza--bold">Creating websites and digital products that promote customer growth and engagement.</h2>
			<p class="jumbotron-subtitle">Specializing in digital design, development and strategy to create products that puts the user first and makes things run better.</p>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<div class="container portfolio">
        {# <h3 class="subheadline"><a id="work">Selected Works</a></h3> #}
        <ul class="grid grid--2col grid-gap-30">
            <li class="portfolio--thumbnail">
                <a href="work/interagencygames">
                    <img src="images/thumbnails/iag-thumb@1x.jpg" srcset="images/thumbnails/iag-thumb@1x.jpg 300w, images/thumbnails/iag-thumb@2x.jpg 900w, images/thumbnails/iag-thumb@2x.jpg 1400w" alt="">
                    <p class="thumbnail-title">UNIAG Website Redesign</p>
                </a>
            </li>
            <li class="portfolio--thumbnail">
                <a href="work/ucd">
                    <img src="images/thumbnails/ucd-thumb@1x.jpg" srcset="images/thumbnails/ucd-thumb@1x.jpg 300w, images/thumbnails/ucd-thumb@2x.jpg 900w, images/thumbnails/ucd-thumb@2x.jpg 1400w" alt="">
                    <p class="thumbnail-title">UCD Email Series</p>
                </a>
            </li>
            <li class="portfolio--thumbnail">
                <a href="work/cdeworld">
                    <img src="images/thumbnails/cdeworld-thumb@1x.jpg" srcset="images/thumbnails/cdeworld-thumb@1x.jpg 300w, images/thumbnails/cdeworld-thumb@2x.jpg 900w, images/thumbnails/cdeworld-thumb@2x.jpg 1400w" alt="">
                    <p class="thumbnail-title">CDEWorld Website Redesign</p>
                </a>
            </li>
            <li class="portfolio--thumbnail">
                <a href="work/tuftsemail">
                    <img src="images/thumbnails/tufts-email-thumb@1x.jpg" srcset="images/thumbnails/tufts-email-thumb@1x.jpg 300w, images/thumbnails/tufts-email-thumb@2x.jpg 900w, images/thumbnails/tufts-email-thumb@2x.jpg 1400w" alt="">
                    <p class="thumbnail-title">TUSDM Email Series</p>
                </a>
            </li>
            <li class="portfolio--thumbnail">
                <a href="work/bespokemail">
                    <img src="images/thumbnails/bespokemail-thumb@1x.jpg" srcset="images/thumbnails/bespokemail-thumb@1x.jpg 300w, images/thumbnails/bespokemail-thumb@2x.jpg 900w, images/thumbnails/bespokemail-thumb@2x.jpg 1400w" alt="">
                    <p class="thumbnail-title">BespokeMail Interface</p>
                </a>
            </li>
            <li class="portfolio--thumbnail">
                <a href="work/tempassistant">
                    <img src="images/thumbnails/temptime-thumb@1x.jpg" srcset="images/thumbnails/temptime-thumb@1x.jpg 300w, images/thumbnails/temptime-thumb@2x.jpg 900w, images/thumbnails/temptime-thumb@2x.jpg 1400w" alt="">
                    <p class="thumbnail-title">Temp Time Assistant Interface</p>
                </a>
            </li>
        </ul>
	</div>
    <div class="accent-bg">
        <div class="container specialties">
            <h2 class="subheadline">Our Services</h2>
            <div class="grid grid--3col">
                <div>
                    <h3><a class="text-link" href="/services#designservice">Design</a></h3>
                    <p>UX/UI</p>
                    <p>Web Design</p>
                    <p>Interaction Design</p>
                </div>
                <div>
                    <h3><a class="text-link" href="/services#developmentservice">Development</a></h3>
                    <p>Web Development</p>
                    <p>Content Management Systems</p>
                    <p>Progressive Web Apps (PWA)</p>
                </div>
                <div>
                    <h3><a class="text-link" href="/services#marketingservice">Digital Marketing</a></h3>
                    <p>Email Development</p>
                    <p>Email Campaigns</p>
                </div>
            </div>
            {# <p class="spec-content">Want to connect with your customers, emails are perfect. Don't know how to make, send, or manage them? No worries, that's what we do. Looking to update an old site or creating a first-time site. From new technology to fast and easy to use sites, we can make it. Started a project and feel lost? Want to start a project but not sure where to go or what to do? If you've got questions, we've got answers.</p> #}
        </div>
    </div>
    <div class="container blog">
        <h3 class="subheadline">Recent <a class="text-link" href="/blog">Blog Posts</a></h3>
        <ul class="grid grid--3col grid-gap-30">
            <li class="recent-posts">
                <a href="https://medium.com/@teekatwo/are-you-solving-the-real-problem-941a1c36c1d5" target="_blank">
                    <img src="https://cdn-images-1.medium.com/max/1000/1*rYqxGE8b5_lxlvF4OoE_AA.jpeg" alt="">
                    <h3>Are You Solving the Real Problem</h3>
                    <small>Feburary 21, 2018</small>
                </a>
            </li>
            <li class="recent-posts">
                <a href="https://medium.com/@teekatwo/what-you-shouldnt-do-with-mailing-lists-91a52d89cc56" target="_blank">
                    <img src="https://cdn-images-1.medium.com/max/2000/1*2Oo1Din32plTMdI8GypK4Q.jpeg" alt="">
                    <h3>What You Shouldn’t do With Mailing Lists</h3>
                    <small>Feburary 13, 2018</small>
                </a>
            </li>
            <li class="recent-posts">
                <a href="https://medium.com/@teekatwo/emails-arent-as-simple-as-you-think-987c6dfeb09e" target="_blank">
                    <img src="https://cdn-images-1.medium.com/max/1000/1*fXBo56b0tanSCNHo4O2eWw.jpeg" alt="">
                    <h3>Emails aren’t as simple as you think</h3>
                    <small>January 17, 2018</small>
                </a>
            </li>
            <li class="recent-posts">
                <a href="https://medium.com/@teekatwo/using-social-media-to-your-advantage-446598468375" target="_blank">
                    <img src="https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6354c26fa366d6b456db1d7cf1137c89&auto=format&fit=crop&w=1053&q=80" alt="">
                    <h3>Using Social Media to Your Advantage</h3>
                    <small>December 18, 2017</small>
                </a>
            </li>
            <li class="recent-posts">
                <a href="https://medium.com/@teekatwo/how-to-explain-what-design-is-to-non-designers-72838fc12b09" target="_blank">
                    <img src="https://images.unsplash.com/photo-1518893494013-481c1d8ed3fd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d37f41df10af558fe79a662a07c7de3f&auto=format&fit=crop&w=400&q=60" alt="">
                    <h3>How to Explain What Design is to Non-Designers</h3>
                    <small>September 23, 2017</small>
                </a>
            </li>
        </ul>
	</div>
</main>
{% endblock %}

{% block heroPattern %}
<script>
	if ($('body').hasClass('orange')) {
		$('.jumbotron').addClass('pattern3');
	} else if ($('body').hasClass('green')) {
		$('.jumbotron').addClass('pattern4');
	} else {
		$('.jumbotron').addClass('pattern5');
	}
</script>
{% endblock %}