.work {

    .topimage {
        @include mq(desktop, min-width){
            margin-top: 6rem;
        }
    }
    .jumbotron-subtitle {
        padding-bottom: 1rem;
    }

    .quote {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        line-height: 1.4;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        text-align: center;

        @include mq(desktop, min-width){
            width: 70%;
            margin: 30px auto 80px auto;
            font-size: 2.2rem;
        }
    }

    .container .quote {

        @include mq(desktop, min-width) {
            font-size: 1.6rem;
            width: 90%;
        }
    }
    .section-inner {
        @include mq(desktop, min-width){
            max-width: 640px;
        }
    }
    .section-inner p {
        @include mq(desktop, min-width){
            font-size: 1.5rem;
        }
    }
}