<footer>
	<div class="footer-container">
		<div class="grid grid--2col">
            <p class="copyright">© <script type="text/javascript">document.write(new Date().getFullYear());</script> VPDesigns. All Rights Reserved. 
            <span class="hide-mobile">Created by <a href="http://toripugh.com" target="_blank">Tori Pugh</a></span></p> 
            <ul class="footer-navigation">
                <li><a href="https://twitter.com/teekatwo" target="_blank">Twitter</a></li>
                <li><a href="https://facebook.com/vpdesignstudios/" target="_blank">Facebook</a></li>
                <li><a href="https://dribbble.com/teekatwo" target="_blank">Dribbble</a></li>
                <li><a href="https://medium.com/@teekatwo" target="_blank">Medium</a></li>
                <li><a href="https://www.instagram.com/toripugh/" target="_blank">Instagram</a></li>
            </ul>
		</div>
	</div>
</footer>